<div class="card mb-4">
  <div class="card-header">
    {{ 'PROFILE.title'  | translate }}  </div>
  <div class="card-body d-flex align-items-center">
    <c-avatar
      shape="rounded-10"
      [size]="'lg'"
      src="./assets/images/avatars/profile.png"
      status="success"
      textColor="primary"
      alt="User avatar"
      class="custom-avatar me-3"
      />
      &nbsp;      &nbsp;      &nbsp;
    <div>
      <p class="card-text"><strong>{{ 'PROFILE.username'  | translate }} :</strong> {{ userProfile.username }}</p>
      <p class="card-text">
        <strong>{{ 'PROFILE.password'  | translate }} : </strong> 
        <span *ngIf="showPassword">{{ userProfile.password || 'Not Set' }}</span>
        <span *ngIf="!showPassword"> ********</span>
      </p>
      <button class="btn btn-link" (click)="showPassword = !showPassword">
        {{ getTogglePasswordText() }}
      </button>
    </div>
  </div>
</div>



<!-- Profile Update Form -->
<div class="container">
  <h1>{{ 'PROFILE.updateProfile'  | translate }}</h1>
  <form (ngSubmit)="updateProfile()">
    <div class="mb-3">
      <label for="username" class="form-label">{{ 'PROFILE.username'  | translate }}</label>
      <input type="text" class="form-control" id="username" [(ngModel)]="userProfile.username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">{{ 'PROFILE.password'  | translate }}</label>

      <div class="input-group">

        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" [(ngModel)]="userProfile.password" name="password" required>
        <button class="btn btn-link" (click)="showPassword = !showPassword">
          {{ getTogglePasswordText() }}
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">تعديل</button>
  </form>
</div>
