<c-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <!-- Calendar Navigation -->
      <div class="col-md-4">
        <div class="btn-group custom-btn-group d-flex gap-2">
          <button
            class="btn btn-custom btn-sm px-4"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
          السابق
          </button>
          <button
            class="btn btn-custom-secondary btn-sm px-4"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
          اليوم
          </button>
          <button
            class="btn btn-custom btn-sm px-4"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
          التالي
          </button>
        </div>
      </div>
      
  
      <!-- Current Date -->
      <div>
        <h4 class="mb-0 text-primary fw-bold">
          {{ viewDate | date: 'fullDate':'UTC' }}
        </h4>
      </div>
  
      <!-- View Buttons -->
      <div class="btn-group">
        <button
          class="btn btn-light btn-sm px-4"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          شهر
        </button>
        <button
          class="btn btn-light btn-sm px-4"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          اسبوع
        </button>
        <button
          class="btn btn-light btn-sm px-4"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          يوم
        </button>
      </div>
    </div>
  </c-card-header>
  
  <!-- Inputs for Teacher, Class, Level, and Session -->
  <div class="row gy-4 mb-4">
    <!-- Teacher Selection -->
    <div class="col-md-3">
      <label for="teacherName" class="form-label fw-bold text-primary">اسم المعلم</label>
      <select id="teacherName" class="form-select" [(ngModel)]="teacherName">
        <option *ngFor="let enseignant of enseignants" [value]="enseignant.nom">
          {{ enseignant.nom }} {{ enseignant.prenom }}
        </option>
      </select>
    </div>
  
    <!-- Subject Selection -->
    <div class="col-md-3">
      <label for="matiere" class="form-label fw-bold text-primary">المادة</label>
      <select id="matiere" class="form-select" [(ngModel)]="matiere">
        <option value="" disabled selected>اختر المادة</option>
        <option value="العربية">العربية</option>
        <option value="الفرنسية">الفرنسية</option>
        <option value="الإنقليزية">الإنقليزية</option>
        <option value="الإعلامية">الإعلامية</option>
        <option value="رياضيات">رياضيات</option>
        <option value="علوم فيزيائية">علوم فيزيائية</option>
        <option value="علوم الأحياء والأرض">علوم الأحياء والأرض</option>
        <option value="علوم تكنولوجية">علوم تكنولوجية</option>
        <option value="تربية إسلامية">تربية إسلامية</option>
        <option value="تربية مدنية">تربية مدنية</option>
        <option value="تاريخ و جغرافيا">تاريخ و جغرافيا</option>
      </select>
    </div>
  
    <!-- Class Selection -->
    <div class="col-md-3">
      <label for="class-select" class="form-label fw-bold text-primary">إختر الصف</label>
      <select id="class-select" [(ngModel)]="selectedClass" class="form-select">
        <option *ngFor="let classe of classes" [value]="classe.nomDeClasse">
          {{ classe.nomDeClasse }}
        </option>
      </select>
    </div>
  
    <!-- Time Input -->
    <div class="col-md-3">
      <label for="time-from" class="form-label fw-bold text-primary">من</label>
      <input id="time-from" type="time" class="form-control" [(ngModel)]="timeFrom">
      <label for="time-to" class="form-label mt-2 fw-bold text-primary">إلى</label>
      <input id="time-to" type="time" class="form-control" [(ngModel)]="timeTo">
    </div>
  </div>
  

<br />


<h3>
    تعديل الحصص
    <button class="btn btn-primary float-start" (click)="addEvent()">
        اضافة حصة
    </button>
    <div class="clearfix"></div>
</h3>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
      
                <th>اللون المساعد</th>
                <th>اليوم</th>
             
                <th>حذف</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
               
                <td>
                    <input type="color" [(ngModel)]="event.color!.primary" (change)="refresh.next()" />
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
                    (ngModelChange)="updateEventEnd(event)"
                    [altInput]="true" [convertModelValue]="true"
                        [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                </td>
             
                <td>
                    <button class="btn btn-danger" (click)="deleteEvent(event)">
                        حذف
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>




<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>
<div class="text-center mt-4">
    <button class="btn btn-success" (click)="validateData()">
        تأكيد البيانات
    </button>
</div>
