<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="primary"
      [title]="'Users'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        26
       
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li>
              <hr cDropdownDivider>
            </li>
            <li>
              <button cDropdownItem>Separated link</button>
            </li>
          </ul>
        </c-dropdown>
      </ng-template>
    
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Income'"
      color="primary"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>26</span>
        
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>
     
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Conversion Rate'"
      color="primary"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>26</span>
       
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>
      
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Sessions'"
      color="primary"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>26</span>
       
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">
            <svg cIcon name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a [routerLink]="[]" cDropdownItem>Action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Another action</a></li>
            <li><a [routerLink]="[]" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" [routerLink]="[]" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>
     
    </c-widget-stat-a>
  </c-col>
</c-row>
